<!DOCTYPE html>
<html>
<head>
    <title>AI Fake News Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div id="particles-js"></div>

<nav class="navbar">
    <div class="nav-title">🧠 Fake News AI</div>

    <div class="nav-right">
        <button id="themeToggle">🌙</button>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/history">History</a>
        </div>
    </div>
</nav>

<main class="main-container">
    {% block content %}{% endblock %}
</main>

<!-- particles library -->
<script src="https://cdn.jsdelivr.net/npm/particles.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</body>
</html>
