{% extends "base.html" %}
{% block content %}

<div class="container">

    <div class="page-header">
        <div class="page-title">📰 Live News Detection</div>
        <div class="page-subtitle">
            Paste latest news and let AI verify authenticity
        </div>
    </div>

    <div class="premium-card">
       <form method="POST" action="/predict">
       <input type="hidden" name="source_page" value="live_news">

            <select name="category" required>
                <option value="">Select Category</option>
                <option>National</option>
                <option>International</option>
                <option>Political</option>
                <option>Sports</option>
                <option>Bollywood</option>
                <option>Global</option>
            </select>

            <textarea name="news" placeholder="Paste live news here..." required></textarea>

            <button type="submit">🔍 Detect News</button>
        </form>
    </div>

</div>

{% endblock %}